[Unit]
Description=start node js app
Documentation=https://example.com
After=cloud-final.service
 
[Service]
EnvironmentFile=/etc/environment
Type=simple
User=nodeuser
Group=nodeuser
WorkingDirectory=/opt/demo/app
ExecStart=/usr/bin/node /opt/demo/app/server.js
Restart=on-failure
 
[Install]
WantedBy=cloud-init.target